body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  /* background-color: blue; */
  height: 10vh; 
  display: flex; 
  align-items: center;
  justify-content: right;
}
.navbar a {
  padding: 10px;
  text-decoration: none;
  color: black;  
}
.navbar a:hover {
  color: brown; 
}

.landing {
  position: absolute; 
  left: 10%; 
  top: 25%; 
  display: flex; 
  align-items: center; 
  justify-content: center;
  flex-direction: column;
  
}
.landing h1 {
  color: brown; 
  text-align: center;
}
.landing a {
  text-align: center; 
  color: blue; 
  text-decoration: none; 
}
